{{!-- <link rel="stylesheet" href="../public/css/style.css"> --}}
uraaaaaaaaa
{{!-- <div class="container">
    <div class="slider-line">
        <img src="{{this.link}}" alt="Мишка">
        <img src="{{this.link}}" alt="Лев">
        <img src="{{this.link}}" alt="Волк">

    </div>
</div> --}}