<div class="container">
    {{#each animals}}
<div class="card" style="width: 18rem;">
  <img src={{'Photos.link'}} class="card-img-top" alt="{{this.title}}">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <a href="/animal/{{this.id}}">Про зверушку</a>
  </div>
  </div>
    {{/each}}
</div>