<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link link href="/css/style.css" rel="stylesheet">
    <title>Nash zoopark</title>

</head>
<nav class="topMenubar">
    <div class="container">
        <div class="link-items"><a class="nav-link" href="/#" id="enter-admin">Вход</a></div>
        <div class="link-items"><a class="nav-link" href="/signout">Выход</a></div>
        <div class="contacts"><span>+7 (495) 455-33-22</span></div>
        <div><span><b>RU</b>/EN</span></div>


    </div>
    </div>
</nav>
<div class="header">
    <div class="logodiv"><a class="logo" href="/"><img src="/img/montgomery.png" alt="log" width="100px"></a><span></span></div>
    <div class="container">

        <div class="nav-item">
            <a class="nav-link" href="/animal"> Животные </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/tariff"> Тарифы </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/aboutus"> О зоопарке </a>
        </div>
        <div>
            <p>Ждём Вас:</p>
            <p>09:00 - 18:00</p>
        </div>
    </div>
</div>
{{{body}}}

<div class="footer">
    <div class="container-end">
        <div id="copyright">Все права защищены © 2022 Наш Зоопарк</div>
        <div id="messageLinks">vk.com | icq | t.me</div>
    </div>
</div>
</body>


</html>
