.popup-consultation {
    z-index: 20;
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: silver;
}
.popup-consultation .button-transparent {
    border: 2px dashed #c51abb;
    width: 100%;
    margin-bottom: 2rem;
}
.popup-consultation .form {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.popup-consultation .form input,
.popup-consultation .form textarea {
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    padding: 1.5rem;
    margin-bottom: 2.5rem;
    width: 70%;
    color: inherit;
    resize: none;
}
.popup-consultation .form input::placeholder,
.popup-consultation .form textarea::placeholder {
    color: black;
    text-align: center;
    font-family: 'Circe Bold', sans-serif;
}
.popup-consultation .button-order {
    width: 100%;
    margin-top: 1rem;
}
.popup-consultation h4 {
    margin-bottom: 3.5rem;
}
.popup-close {
    position: absolute;
    top: -5rem;
    right: -1.5rem;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: transparent;
    color: #ffffff;
    border: none;
}
.popup-content {
    position: fixed;
    text-align: center;
    max-width: 35rem;
    left: 50%;
    top: 20%;
    background-color: #ededed;
    border-radius: 4px;
    transform: translateX(-50%) !important;
    padding: 4rem 6rem 5rem 6rem;
}

.popup-consultation .button-order,
.popup-design .button-order {
    font-size: 1.3rem;
}
.popup-consultation .button-transparent,
.popup-design .button-transparent {
    font-size: 1.2rem;
}
.popup-consultation .button-transparent:before,
.popup-design .button-transparent:before {
    margin: 0;
}
.popup-content {
    padding: 3rem 3rem;
    width: 25rem;
}
